    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        font-family: sans-serif;
        text-align: center;
    }

    header {
        background-color: #a79d30;
        padding: 30px;
        width: 100%;
        height: min-content;
        margin-top: 0%;
        font-size: 35px;
        color: #CCC03B;
        order: 1;
        flex-basis: auto;
    }

    footer {
        order: 5;
        width: 100%;
        padding: 10px;
        color: #CCC03B;
    }
  
    /* h1 {
        font-size: 1.5em;
        margin-bottom: 1em;
        color: #CCC03B;
    } */

    /* dropdow styling */
    .dropbtn {
    /* float: left; */
    /* margin-left: 40%; */
    margin-left: 5%;
    background-color: #CCC03B;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    }

    .line {
    width: 35px;
    height: 5px;
    border-radius: 25px;
    background-color: #ded572;
    margin: 6px 0;
    }

    .dropdown {
    /* order: 1; */
    /* margin-left: 5%; */
    font-size: 20px;
    /* position: relative; */
    display: inline-block;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    .dropdown:hover .dropdown-content {
    display: block;
    }

    .dropdown:hover .dropbtn {
    background-color: #a79d30;
    }